/*
 * Custom Blockly styles for overriding and extending the default Blockly UI.
 * Use this file for project-specific Blockly styling only.
 */

svg[display='none'] {
  display: none;
}

.blocklyWidgetDiv .blocklyMenu {
  overflow: hidden;
}

.blocklyToolbox {
  width: 200px;
  background-color: var(--sidebar);
}

.blocklyFlyoutBackground {
  fill: var(--sidebar-accent);
}

.blocklyMainBackground {
  stroke: none;
}
